@font-face {
  font-family: Norse-Bold;
  src: url("fonts/Norse-Bold.otf") format("opentype");
}
/* CSS RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* STYLING */

:root {
  --create-account--button-color: #596d48;
  --input-border-color: #e5e7eb;
  --faded-white: #f9fafb;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  display: flex;
  flex-direction: row;
}

/* Left Side */

flex-container.logo-heading-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
section.left {
  width: 33vw;
  min-height: 100vh;
  background-image: url("img/Ferns.jpeg");
  background-color: green;
  background-position: center;
  background-size: cover;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.logo-heading {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15vh;
  min-width: 100%;
  position: relative;
  top: 20vh;
}

div.logo-heading h2 {
  color: white;
  font-family: Norse-bold, sans-serif;
  font-size: clamp(1rem, 5vw, 20vh);
}

div.logo-heading img {
  padding: 3%;
}

section.left footer {
  position: relative;
  bottom: 1vh;
}

section.left footer p {
  color: white;
}
section.left footer a {
  color: white;
}

/* Right Side*/

section.right {
  width: 67vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section.right > header {
  width: 67vw;
  height: 35%;
  background-color: var(--faded-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10%;
  padding-bottom: 5%;
}

section.right > header p {
  width: 100%;
  font-family: sans-serif;
  font-size: clamp(0.5rem, 1.5vw, 3vh);
  font-weight: 600;
  padding-left: 4%;
}
section.right > main {
  background-color: white;
  width: 100%;
  height: 30%;
  max-height: 30%;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  padding-top: 2%;
  row-gap: 6%;
  box-shadow: 10px 10px 8px 8px #888888;
}

section.right > main > header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.5rem, 2vw, 3vh);
  font-weight: 550;
}

section.right > main > form {
  max-width: 33.5vw;
  height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 15%;
  row-gap: 2vh;
}

section.right > main > form div {
  display: flex;
  flex-direction: column;
}

div input {
  height: 3.5vh;
  width: 14vw;
  border-color: var(--input-border-color);
  border-style: solid;
  border-radius: 4px;
}

.focus {
  border-color: blue;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0.5px 0.5px 4px black;
}

.error {
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

section.right > main > form > div label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(51, 50, 50);
  font-weight: 500;
  padding-bottom: 1%;
  width: 14vw;
  font-size: clamp(0.5rem, 1.5vh, 10vh);
}
section.right > footer {
  background-color: var(--faded-white);
  width: 100%;
  height: 35%;
  padding-left: 4%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  row-gap: 10%;
  box-shadow: 10px 10px 8px 8px #888888;
}

section.right > footer > button {
  background-color: var(--create-account--button-color);
  color: white;
  border-radius: 8px;
  border-style: none;
  width: 20%;
  height: 16%;
  text-align: center;
  font-size: clamp(0.5rem, 1.5vw, 20vh);
  font-weight: 700;
  box-shadow: 1px 1px 3px black;
}
section.right > footer > button:hover {
  cursor: pointer;
}

section.right > footer > p {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
}

section.right > footer > p a {
  color: var(--create-account--button-color);
  text-decoration: none;
  font-weight: 600;
}
